# Last match in file takes precedence.

# Ping for all PRs
* @Morb0 @JerryImMouse @DIMMoon1

# Translations
*.ftl @Morb0 @DIMMoon1

# Maps
/Resources/Prototypes/Maps/** @Morb0 @DIMMoon1
/Resources/Maps/** @Morb0 @DIMMoon1

# Sprites
/Resources/Textures/** @Morb0 @DIMMoon1 @SonicHDC
